<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icon/apple-touch-icon.png' | relative_url }}?{{site.time | date: '%s%N'}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icon/favicon-32x32.png' | relative_url }}?{{site.time | date: '%s%N'}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icon/favicon-16x16.png' | relative_url }}?{{site.time | date: '%s%N'}}">
<link rel="mask-icon" href="{{ '/assets/icon/safari-pinned-tab.svg' | relative_url }}?{{site.time | date: '%s%N'}}" color="{{ site.theme_color }}">
<link rel="shortcut icon" href="{{ '/assets/icon/favicon.ico' | relative_url }}?{{site.time | date: '%s%N'}}">
<meta name="msapplication-config" content="{{ '/assets/icon/browserconfig.xml' | relative_url }}?{{site.time | date: '%s%N'}}">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="{{ site.theme_color }}">
<meta name="theme-color" content="{{ site.theme_color }}">
