// Header Anchor links
h1,
h2,
h3,
h4,
h5,
h6 {
  // Fix anchor link spacing with sticky header
  &[id] {
    &::before {
      content: ' ';
      display: block;
      height: 102px;
      margin-top: -102px;
      visibility: hidden;
    }
  }

  & > a {
    opacity: 0;
    transition: opacity .2s ease-in-out .1s;
  }

  &:hover > a {
    opacity: 1;
  }
}
